*.suo
*.psess
*.vsp
.CardMakerGoogleCache.dat
/CardMaker/bin/Debug/
/CardMaker/bin/Release/de/
/CardMaker/bin/Release/Licenses/GData-LICENSE-2.0.txt
/CardMaker/bin/Release/Licenses/PDFSharp-License.txt
/CardMaker/bin/Release/Licenses/ClearScript.main.license
/CardMaker/bin/Release/Licenses/v8.main.license
/CardMaker/bin/Release/Licenses/v8.strongtalk.license
/CardMaker/bin/Release/Licenses/v8.v8.license
/CardMaker/bin/Release/Licenses/v8.valgrind.license
/CardMaker/bin/Release/*.exe
/CardMaker/bin/Release/*.ini
/CardMaker/bin/Release/*.pdf
/CardMaker/bin/Release/*.cmp
/CardMaker/bin/Release/*.xml
/CardMaker/bin/Release/*.pdb
/CardMaker/bin/Release/*.dll
/CardMaker/bin/Release/*.zip
/CardMaker/bin/Release/*.config
/CardMaker/bin/Release/CardMaker.vshost.*
/CardMaker/obj/
/CardMaker/CardMaker.csproj.user
/CardMaker/Test/UnitTest/bin/
/CardMaker/Test/UnitTest/obj/
/packages/