*.suo
*.psess
*.vsp
.CardMakerGoogleCache.dat
/CardMaker/bin/Debug/
/CardMaker/bin/Release/de/
/CardMaker/bin/Release/Licenses/GData-LICENSE-2.0.txt
/CardMaker/bin/Release/Licenses/PDFSharp-License.txt
/CardMaker/bin/Release/Licenses/ClearScript.main.license
/CardMaker/bin/Release/Licenses/v8.main.license
/CardMaker/bin/Release/Licenses/v8.strongtalk.license
/CardMaker/bin/Release/Licenses/v8.v8.license
/CardMaker/bin/Release/Licenses/v8.valgrind.license
/CardMaker/bin/Release/*.exe
/CardMaker/bin/Release/*.ini
/CardMaker/bin/Release/*.pdf
/CardMaker/bin/Release/*.cmp
/CardMaker/bin/Release/*.xml
/CardMaker/bin/Release/*.pdb
/CardMaker/bin/Release/*.dll
/CardMaker/bin/Release/*.zip
/CardMaker/bin/Release/*.config
/CardMaker/bin/Release/CardMaker.vshost.*
/CardMaker/bin/Release/net6.0-windows/de/
/CardMaker/bin/Release/net6.0-windows/Licenses/
/CardMaker/bin/Release/net6.0-windows/CardMaker.deps.json
/CardMaker/bin/Release/net6.0-windows/CardMaker.runtimeconfig.json
/CardMaker/bin/Release/net6.0-windows/*.exe
/CardMaker/bin/Release/net6.0-windows/*.ini
/CardMaker/bin/Release/net6.0-windows/*.pdf
/CardMaker/bin/Release/net6.0-windows/*.cmp
/CardMaker/bin/Release/net6.0-windows/*.xml
/CardMaker/bin/Release/net6.0-windows/*.pdb
/CardMaker/bin/Release/net6.0-windows/*.dll
/CardMaker/bin/Release/net6.0-windows/*.zip
/CardMaker/bin/Release/net6.0-windows/*.config
/CardMaker/bin/Release/net6.0-windows/CardMaker.vshost.*
/CardMaker/obj/
CardMaker/Properties/launchSettings.json
/CardMaker/CardMaker.csproj.user
/CardMaker/Test/UnitTest/bin/
/CardMaker/Test/UnitTest/obj/
/packages/
CardMaker.sln.DotSettings.user

\.vs/
UnitTest/bin
UnitTest/obj
CardMaker/CardMaker_Mono.csproj.user
CardMaker/cardmaker_obj
CardMaker/cardmaker_mono_obj
CardMaker/bin/Release/ClearScriptV8.linux-x64.so
CardMaker/bin/Release/exported_images_test
CardMaker/bin/Release/arm64/libSkiaSharp.dll
CardMaker/bin/Release/x64/libSkiaSharp.dll
CardMaker/bin/Release/x86/libSkiaSharp.dll
CardMaker/bin/Release/libSkiaSharp.dylib
